/* * {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
} */

body {
  background-color: rgb(255, 255, 255);
}

.badan {
  width: 80%;
  margin: 35px auto;
  background-color: white;
  padding: 20px;
  overflow: hidden;
}

.badan h2 {
  /* background-color: aqua; */
  color: rgb(0, 0, 0);
  border-bottom: 3px solid rgb(0, 0, 0);
  margin: 5px;
  margin-bottom: 13px;
  padding-left: 20px;
}

.list-produk {
  border: 2px solid rgb(146, 146, 146);
  background-color: rgb(255, 255, 255);
  float: left;
  width: 20%;
  margin: 20px;
  text-align: center;
  min-height: max-content;
  min-width: content;
  border-radius: 10px;
}
.kategori {
  text-align: left;
  background-color: rgb(189, 189, 189);
  padding: 10px;
  border-radius: 10px 10px 0px 0px;
}
.judul {
  text-align: left;
  font-size: 20px;
  padding: 10px;
  font-weight: 900;
}
.deskripsi {
  margin-top: 0px;
  padding: 10px;
  text-align: left;
  font-size: 15px;
}
.footer {
  background-color: rgb(189, 189, 189);
  border-top: rgb(146, 146, 146);
  padding: 10px;
  display: flex;
  justify-content: space-between;
  border-radius: 0px 0px 10px 10px;
}
.detail-chapter {
  font-size: 15px;
  color: rgb(88, 88, 88);
  margin-top: auto;
  margin-bottom: auto;
  /* float: right; */
  /* padding: 10px; */
}
.detail-button {
  background-color: #5c5c5c;
  border: none;
  color: white;
  padding: 7px 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}
.flex-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.grid-container {
  object-fit: fill;
  display: grid;
  grid-template-columns: auto auto auto auto;
  min-height: max-content;
  /* width: max-content; */
  background-color: #ffffff;
  border-bottom: solid black 5px;
}
