/* Navbar */

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  padding-left: 20px;
  text-decoration: none;
}

li a:hover {
  background-color: #111;
  color: #0a58ca;
}

.tulisanNav {
  text-align: center;
  font-size: 30px;
}

/* searchbox */

.Searchbox {
  font-size: 30px;
  float: right;
  margin-top: 10px;
  margin-right: 10px;
  border-radius: 30px;
}

ul input[type="text"] {
  padding: 0 0 0 20px;
}

/* toggle darkmode */

.dark-mode {
  background-color: rgb(255, 0, 0);
  color: rgb(0, 0, 0);
}

.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

input:checked + .slider {
  background-color: #2196f3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196f3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */

.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

/* chapterbox */

.chapterList {
  float: left;
  padding-left: 0px;
  margin-left: 30px;
  max-width: 300px;
  width: 150px;
  background-color: rgb(124, 124, 124);
  border-radius: 6px;
  border-width: 0;
  color: #fff;
  cursor: pointer;
  font-size: 100%;
  height: 35px;
  color: rgb(185, 182, 182);
  text-align: left;
}

.chapterNext {
  float: right;
  margin-right: 50px;
  background-color: #405cf5;
  border-radius: 6px;
  border-width: 0;
  color: #fff;
  cursor: pointer;
  font-size: 100%;
  height: 35px;
  padding: 0 25px 0 25px;
  text-align: center;
}

.chapterNext:hover {
  background-color: rgb(59, 58, 58);
}

.chapterPrevious {
  float: right;
  margin-right: 20px;
  background-color: #405cf5;
  border-radius: 6px;
  border-width: 0;
  color: #fff;
  cursor: pointer;
  font-size: 100%;
  height: 35px;
  padding: 0 25px 0 25px;
  text-align: center;
}

.chapterPrevious:hover {
  background-color: rgb(59, 58, 58);
}

#chapterGambar {
  align-items: center;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}
