/* body */
body {
  margin: 0;

  background-color: #b0d8fd;
}

/* toggle darkmode */

.dark-mode {
  background-color: #041525;
  color: rgb(0, 0, 0);
}

/* Navbar */

ul {
  list-style-type: none;
  margin: 0;
  overflow: hidden;
  background-color: #14274e;
}

.tulisanNav {
  margin-bottom: 20px;
  padding: 0;

  text-align: center;
  font-size: 24px;
  font-weight: bold;
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 20px 16px;
  padding-left: 20px;
  text-decoration: none;
}

li a:hover {
  background-color: #111;
  color: #0a58ca;
}

/* searchbox */

.Searchbox {
  font-size: 20px;
  float: right;
  margin-top: 15px;
  margin-right: 30px;
  border-radius: 30px;
  height: 34px;
  width: 240px;
}

ul input[type="text"] {
  padding: 0 0 0 40px;

  background-image: url("img/searchlogo.png");
  background-position: 8px 6px;
  background-size: 25px 25px;
  background-repeat: no-repeat;
}

/* dark-mode slider */

.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

input:checked + .slider {
  background-color: #2196f3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196f3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */

.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

/* judul komik di isi_komik */

.judulBacaan {
  font-size: 40px;
  color: #394867;
  font-family: verdana;
  text-align: center;
}

.judulBacaan-darkmode {
  color: white;
}

.rootJudul {
  font-size: 15px;
  color: rgb(207, 207, 207);
  display: inline-block;
  text-align: center;
  align-items: center;
}

.rootJudulBackground {
  font-family: verdana;
  width: 70%;
  margin-left: auto;
  margin-right: auto;
  background-color: #394867;
  padding: 10px 0px 10px 0;
  border-radius: 5px;
}

/* chapterbox */

.chapterList {
  float: left;
  padding-left: 0px;
  margin-left: 120px;
  max-width: 300px;
  width: 150px;
  background-color: #394867;
  border-radius: 6px;
  border-width: 0;
  color: #fff;
  cursor: pointer;
  font-size: 100%;
  height: 35px;
  text-align: left;
}

.buttonNext {
  float: right;
  margin-right: 120px;
  background-color: #405cf5;
  border-radius: 6px;
  border-width: 0;
  color: #fff;
  cursor: pointer;
  font-size: 100%;
  padding: 9px 50px 9px 50px;
  text-align: center;
}

.buttonNext:hover {
  background-color: rgb(59, 58, 58);
}

.buttonPrevious {
  float: right;
  margin-right: 50px;
  background-color: #405cf5;
  border-radius: 6px;
  border-width: 0;
  color: #fff;
  cursor: pointer;
  font-size: 100%;
  padding: 9px 50px 9px 50px;
  text-align: center;
}

.buttonPrevious:hover {
  background-color: rgb(59, 58, 58);
}

#chapterGambar {
  align-items: center;

  margin: auto 120px;
  margin-top: 20px;
  padding: 0px 130px;

  border-radius: 10px;
}

.chapterGambar {
  background-color: #041525;
}

.listGambar-darkmode {
  background-color: #b0d8fd;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  height: auto;
  width: 100%;
}

/* tanpa garis bawah */
.tanpa {
  text-decoration: none;
}